<header class="main-header">
    <h1 class="header-title">Worldbuilding</h1>
    <div class="flex-container">

        <!-- Character Dropdown -->
        <div class="flex-item">
            <details>
                <summary class="nav-button">Character</summary>
                <nav>
                    <a href="class.html">Class</a>
                    <a href="species_new.html">Species</a>
                    <a href="tables.html">Tables</a>
                    <a href="spellcasting.html">Spellcasting</a>
                    <a href="curse.html">Curses & Diseases</a>

                </nav>
            </details>
        </div>

        <!-- Gear and Items -->
        <div class="flex-item">
            <details>
                <summary class="nav-button">Gear</summary>
                <nav>
                    <a href="armor.html">Armor</a>
                    <a href="weapons.html">Weapons</a>
                    <a href="items.html">Items</a>
                    <a href="crafting.html">Crafting</a>
                    <a href="enchanted.html">Enchanted Items & Progression</a>

                </nav>
            </details>
        </div>

        <!-- How to Play Dropdown -->
        <div class="flex-item">
            <details>
                <summary class="nav-button">Gameplay</summary>
                <nav>
                    <a href="reference.html">Reference</a>
                    <a href="damage.html">Damage & Damage Tables</a>
                    <a href="conditions.html">Conditions</a>
                    <a href="downtime.html">Downtime</a>
                </nav>
            </details>
        </div>

        <!-- Narrator Dropdown -->
        <div class="flex-item">
            <details>
                <summary class="nav-button">Narrator</summary>
                <nav>
                    <a href="worldbuilding.html">Worldbuilding</a>
                    <a href="monster.html">Monsters</a>
                    <a href="vehicles.html">Vehicles & Mounts</a>

                </nav>
            </details>
        </div>

        <!-- World -->
        <div class="flex-item">
            <details>
                <summary class="nav-button">World
                </summary>
                <nav>
                    <a href="unions.html">Unions</a>
                    <a href="gods.html">The Gods of Shek</a>
                    <a href="lore.html">Lore</a>

                </nav>
            </details>
        </div>

        <!-- Other -->
        <div class="flex-item">
            <details>
                <summary class="nav-button">Other
                </summary>
                <nav>
                    <a href="charsheet.html">Character Sheet</a>
                    <a href="downloads.html">Downloads</a>
                    <a href="support.html">Donate/Support</a>
                </nav>
            </details>
        </div>

    </div>
</header>