.armor-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.armor-card {
  background: var(--theme-1);
  border: 1px solid var(--theme-2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-plain);
  transition: transform 0.2s ease, border-color 0.3s ease;
  padding: 3px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 690px) {
  .armor-card {
    width: 45%;
  }
}

.armor-card:hover {
  transform: translateY(-3px);
  border-color: var(--gold-2);
}

.armor-card h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: var(--gold-3);
}

.armor-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.armor-tags span {
  display: inline-block;
  padding: 5px;
  font-size: 0.7rem;
  color: var(--white);
  border-radius: var(--border-radius);
  text-transform: uppercase;
}

.armor {
  background-color: var(--green-2);
}

.shield {
  background-color: var(--theme-3);
}

.hefty {
  background-color: var(--rust);
}

.armor-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.armor-card p {
  color: var(--text-cream);
  margin: 0.5rem 0;
  line-height: 1.3;
}

.copy-armor {
  background: var(--theme-2);
  color: var(--text-plain);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 6px;
  transition: background 0.2s ease;
}

.copy-armor:hover {
  background: var(--theme-hover);
}

.penalty-text,
.penalty-text strong {
  color: var(--red-2);
}

.cost-text,
.cost-text strong {
  color: var(--gold-3);
}

.bonus-text,
.bonus-text strong {
  color: var(--green-3);
}

#armor {
    position: relative;
    padding: var(--padding);
    background-color: #1a0d08;
    background-image: url('../assets/images/Smith.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 25%; /* adjust size as needed */
    border-radius: var(--border-radius);
}

.armor-buttons {
  display: flex;
  gap: 4px;
}

.copy-armor,
.copy-addarmor {
  flex: 1;
  padding: var(--padding);
  border-radius: var(--border-radius);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--theme-2);
}

.copy-armor:hover,
.copy-addarmor:hover {
  background-color: var(--theme-hover);
}
