:root {
    --black: #000;
    --medium: #e6e6e6;
    --white: #fff;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    --box-hover: 0 2px 8px rgba(0,0,0,0.7);
    --padding: 5px;
    --body-font: 0.85em;
}

body {
    margin: 0.2in;
    width: 8.5in;
    height: 11in;
    font: var(--body-font) 'Lucida Sans', sans-serif;
    font-size: .7em;
    color: var(--black);
    background: none;
}

input, select, textarea {
    width: 97%;
    padding: 5px;
    border: 1px solid var(--black);
    border-radius: var(--border-radius);
    background: none;
    color: var(--black);
}

input:focus, select:focus {
    background-color: var(--medium);
}

textarea {
    height: 40px;
    resize: vertical;
}

label {
    font-weight: bold;
}

h2, h4 {
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 1.3em;
    border-bottom: 2px solid #333;
}

h4 {
    border-bottom: 2px solid var(--medium);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0.5em;
}

th, td {
    padding: 4px;
    border: 1px solid var(--black);
    text-align: left;
}

.flex-container, .two-column {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    justify-content: space-between;
    align-items: start;
}

.column, .flex-item {
    flex: 1;
    padding: var(--padding);
}

.flex-item input, .flex-item select, .flex-item textarea {
    width: 100%;
}

.char-details-inline, .char-notes-inline {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    margin: 0;
    padding: 0;
}

.char-details-inline li, .char-notes-inline li {
    display: flex;
    flex: 1 1 300px;
    gap: 0.5rem;
    align-items: center;
}

.char-details-inline input, .char-notes-inline textarea {
    flex: 1;
}

.health-section, .checks-section, .resources-section {
    padding: 0;
    border-radius: var(--border-radius);
    page-break-inside: avoid;
}

.health-table, .checks-table, .resources-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.health-table th, .checks-table th, .resources-table th {
    background-color: var(--medium);
    font-weight: bold;
    text-transform: uppercase;
}

.health-table td input, .checks-table input.circle-input, .resources-table input.circle-input {
    text-align: center;
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

.health-table td input {
    width: 100px;
    height: 24px;
}

.checks-table input.circle-input {
    width: 50px;
    height: 24px;
}

.resource-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.resource-item label {
    flex: 1;
    margin-right: 8px;
    text-align: left;
}

.resource-item input[type="number"] {
    width: 100%;
    text-align: center;
}

.resources {
    padding: 10px;
    margin-bottom: 1em;
    background: var(--white);
    border-radius: var(--border-radius);
}

.resources h3 {
    margin: var(--padding);
    font-size: 1.1em;
}

.feature-list {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.feature-list li {
    padding: var(--padding);
    margin: var(--padding) 0;
    background: var(--white);
    border-left: 5px solid var(--medium);
    border-radius: var(--border-radius);
}

.feature-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-list ul li {
    border-bottom: 2px solid var(--medium);
}

.item-entry {
    display: flex;
    align-items: center;
}

.item-entry button {
    background: var(--white);
    border-radius: 4px;
    cursor: pointer;
}

.hide, .hidden {
    display: none;
}

.nav-button {
    background-color: darkslategray;
    color: white;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: #000;
}

.nav-button:hover {
    background-color: darkcyan;
}

@media print {
    .resources-section {
        box-shadow: none;
        color: #000;
    }

    .hide, .nav-button, .no-print, .online-only,
    button, .recalc-button, .add-resource, .add-bonus,
    #dice-roller, #sidebar, #open-sidebar, #toggle-sidebar {
        display: none !important;
    }

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    @page {
        margin: 0.3in;
        width: 98%;
    }

    #char-sheet {
        display: block;
        width: 100%;
        page-break-inside: avoid;
    }

    input::placeholder, textarea::placeholder {
        color: transparent !important;
    }
}
