#generate-npc,
#generate-business,
#generate-monster {
    background-color: var(--hate);
    width: 100%;
    font-size: 2rem;
}

#generate-npc:hover,
#generate-business:hover,
#generate-monster:hover {
    filter: brightness(110%);
}

/* === Layout: Grid Wrappers === */
.monster-grid,
.item-cards {
    display: flex;
    flex-wrap: wrap;
}

/* === Card: Monster & Item === */
.monster-card,
.item-card {
    background: var(--theme-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    margin: 5px;
    color: var(--white);
    flex-direction: column;
}

.monster-card {
    background: rgba(40, 40, 40, 0.9);
    transition: transform 0.2s ease;
    width: 300px;
}

.monster-card p {
    margin: .5vw;
}

.item-card {
    border: 1px solid var(--gold);
    width: 25vw;
}

/* === Interactions: Editable Text === */
.monster-card h3,
.monster-card p span,
.monster-card ul li {
    cursor: text;
    transition: background 0.3s ease;
}

.monster-card h3:focus,
.monster-card p span:focus,
.monster-card ul li:focus {
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: var(--border-radius);
}

/* === Hover Effect: Monster Card === */
.monster-card:hover {
    background-color: var(--dark);
    box-shadow: var(--box-hover);
    transform: scale(1.05);
}

.button-row {
    display: flex;
    gap: var(--padding);
    justify-content: space-between;
}

.copy-npc,
.delete-monster {
    flex: 1;
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* === Buttons (Shared Styling) === */
.donate-button {
    border: none;
    border-radius: var(--border-radius);
    padding: var(--padding);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* === Delete Button === */
.delete-monster {
    background: #d9534f;
}

.delete-monster:hover {
    background: #b52b27;
}

.copy-npc:hover {
    background: #b52b27;
}

#monster {
    background-image: url('../assets/images/Monsta.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center 200px;
    min-height: 700px;
}

@media (max-width: 690px) {
    .item-card {
        width: 40%;
    }

    .monster-card {
        width: 100%;
        margin: 3px;
    }

    .monster-card:hover {
        transform: none;
    }
}